extends ../../layout.pug
block content
	nav.large-padding.black.white-text
		ul
			li.right-space 
				a(href="/admin") inicio
			li.right-space 
				a(href="caja") caja
			li.right-space 
				a(href="reporte") reporte
	h1 view flujo de caja