extends layout

block content
	.container
		.row
			.col-xs-12.col-md-6.remove-float.mx-auto
				form(action="/session",method="POST")
					.row
						.col-xs-12.col-sd-12.col-md-12.col-lg-12
							h1 Bienvenido
					.form-group
							label(for="email") correo
							input.form-control#email(type="text",name="email",placeholder="nombre de usuario")
					.form-group
							label(for="password") password
							input.form-control#password(type="text",name="password",placeholder="nombre de usuario")
					.row
						.col-xs-12.col-sd-12.col-md-12.col-lg-12
							input.btn.btn-button(type="submit",value="ingresar")